<?php

global $APP_CONFIG;

$APP_CONFIG = [
    "db" => [
        "host" => "localhost",
        "db" => "whattrack",
        "user" => "whattrack",
        "passwd" => "",
    ],
    "website" => [
        "root" => "/var/www/whattrack/website",
        "url" => "https://whattrack.rhythmgamers.net/",
    ]
];